.tituloPrincipal h1{
    color: $colorPrimario;
}

.buscas{
    color: $colorPrimario;
}
.carteles {
    font-size: 20px;
}
.productos {
    margin-top: map-get($tarjeta,margin);
    margin-left: map-get($tarjeta,marginl);
    font-size: map-get($tarjeta,font);
    color: map-get($tarjeta,color);
}

.subtitulos p{
    font-size: 22px;
}

.profesionales {
    transition: all 1s;
    border-radius: 20px;
    &:hover {
        transform: scale(1.01);
    }
}

.subtitulos img {
    transition: all 1s;
    border-radius: 10px;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}

.btn {
    padding: map-get($btn, padding);
    border: map-get($btn, borde);
    border-radius: map-get($btn , radio);
    @include propiedades(150px,auto,#fff)

}