@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 45px 100px auto auto 45px;
    grid-template-areas: "navbar  navbar  navbar  navbar"
                         "header  header  header  header"
                         "main    main    main    main"
                         "sidebar sidebar sidebar sidebar"
                         "footer  footer  footer  footer ";
                        
}

.navbar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: navbar;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navLabel, .navInput {
    display: none;
}

@media(max-width:930px) {
    .navMenu {
        position: fixed;
        top: 50px;
        bottom: 0;
        background: #F0BDFA;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
    }


    .navInput:checked + .navMenu{
        clip-path: circle(100% at center);
        transition: clip-path 1s ease-in-out;
    }
    .navLabel {
        display: block;
        cursor: pointer;
        order: 1;
    }
    .logo {
        order: 2;
    }

    .redes {
        order: 3;
    }
   
}

/* PAGINA PRINCIPAL */

.redes {
    margin-right: 20px;
}



.logo {
    margin-left: 15px;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li{
    padding: 10px;

}

.navbar ul li a{
    text-decoration: none;
    color: #F774F5;
    font-family: "Tiro Gurmukhi";
}

.header{
    grid-area: header;
}

.indeximg {
    background-image: url(../img/portada-min-1920x1080-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.novedades {
    margin-top: 30px;
    display: flex;
    padding: 10px;
    justify-content: space-around;

}

@media (max-width:1260px) {
    .novedades {
        flex-direction: column;
        align-items: center;
    }
    .novedadesDos {
        margin-top: 40px;
    }
    .novedadesTres {
        margin-top: 40px;
    }
}


.novedadesUno {
    width: 400px;
    background-color: #595959;
    border-radius: 5px;
    text-align: center;
    border: solid 2px;
}

.texto {
    color: white;
}

.novedadesDos {
    width: 400px;
    background-color: #F257BC;
    border-radius: 5px;
    text-align: center;
    border: solid 2px;
}

.novedadesTres {
    width: 400px;
    background-color: #595959;
    border-radius: 5px;
    text-align: center;
    border: solid 2px;
}

.titulo {
    color: #F774F5;
    margin:6px;
    text-align: center;
    font-family: "Tiro Gurmukhi";
}

.subtitulo {
    text-align: center;
    font-family: "Tiro Gurmukhi";
}

.main {
    grid-area: main;
}

.principalIndex {
    font-family: "Tiro Gurmukhi";   
}

.imagenes img {
    width: 80%;
}

@media(max-width:1600px){
    .imagenes img {
        width: 80%;
    }
}

.principalIndex img{
    border-radius: 20px;
}

.imagenes {
    display: flex;
    justify-content: space-around;
}

.sidebarIndex {
    grid-area: sidebar;
    margin: 10px;
}

.secundario {
    text-align: center;
    margin-top: 50px;
    font-family: "Tiro Gurmukhi";
}

.imagenSecundaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



.imagenSecundaria img {
    border-radius: 8px;
    width: 45%;
    transition: all 1s;
    
}

.imagenSecundaria img:hover{
    filter: saturate(130%);
    transform: scale(1.01);
}




@media(max-width:1220px){
    .imagenSecundaria {
        display: flex;
        flex-direction: column;
    }
    .imagenSecundaria h3 {
        margin-top: 10px;

    }
}

.imagenSecundaria h3 {
    font-family: "Tiro Gurmukhi";
    text-decoration: underline;
}

.imagenesIndex {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    text-align: center;
    transition: all 1s;
}

.imagenesIndex img:hover{
    filter: saturate(130%);
    transform: scale(1.01);
}

@media(max-width:1260px){
    .imagenesIndex {
        display: flex;
        flex-direction: column;
    }
    .dos{ 
        margin-top: 40px;
    }
    .tres {
        margin-top: 40px;
    }
}

.imagenesIndex img {
    border-radius: 8px;
}

.footer {
    grid-area: footer;
    background-color: black;
    width: 100%;
}

.pie {
    color: #F774F5;
    text-align: right;
}


/* PAGINA DE PRODUCTOS */

.sidebarProductos {
    grid-area: sidebar;
}

.tituloProductos {
    margin: 12px;
    text-align: center;
    color: #F774F5;
   
}

.subProductos {
    margin-left: 30%;
    color: #F774F5;
    margin-bottom: 1%;
}

.bloqueProductos {
    display: flex;
    margin: 12px;
    align-items: center;
    justify-content: space-evenly;
    
}


.imagenProductos img {
    width: 80%;
    border-radius: 50px;
    transition: all 1s;
}

.imagenProductos img:hover{
    filter: saturate(130%);
    transform: scale(1.01);
}

@media(max-width:980px) {
    .imagenProductos img {
        width: 80%
    }
}

.bloqueUno {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
}

.bloqueUno img {
    border-radius: 30px;
    width: 250px;
    transition: all 1s;
}

.bloqueUno img:hover{
    filter: saturate(130%);
    transform: scale(1.01);
}

.bloqueDos {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
}

.bloqueDos img {
    border-radius: 30px;
    width: 250px;
    transition: all 1s;
}

.bloqueDos img:hover{
    filter: saturate(130%);
    transform: scale(1.01);
}

@media(max-width:1100px) {
    .bloqueUno {
        display: flex;
        flex-direction: column;
    }
    .bloqueUno img {
        width: 300px;
    }


    .bloqueDos {
        display: flex;
        flex-direction: column;

    }
    .bloqueDos img {
        width: 300px;
    }

    .imUno {
        margin-bottom: 20px;
    }
    .imDos {
        margin-bottom: 20px;
    }
    .imTres {
        margin-bottom: 20px;
    }
    .imCuatro {
        margin-bottom: 20px;
    }
    .imCinco {
        margin-bottom: 20px;
    }
    .imSeix {
        margin-bottom: 20px;
    }
}


/* PAGINA CONTACTANOS */

.sidebarContactanos {
    grid-area: sidebar;
    display: flex;
    margin: 10px;
    margin-top: 40px;
    justify-content: space-around;
    text-align: center;

}

.confused {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly
}

@media(max-width:990px) {
    .confused {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .confundido img {
        width: 280px
    }
    .bus {
        margin-top: 30px;
    }
    .sidebarContactanos {
        display: flex;
        flex-direction: column;
    }
    .pago {
        margin-top: 20px;
    }
    .tarje {
        margin-top: 20px;
    }
    .bloqueContactanos {
        display: flex;
        flex-direction: column;
    }
    .mapa {
        margin-top: 20px;
    }
}

.bus {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.tituloContactanos {
    margin: 12px;
    text-align: center;
    color: #F774F5;
}

.bloqueContactanos {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-around;
}

.bloqueContactanos iframe {
    border-radius: 20px;
    width: 60%;
}



/* PAGINA QUIENES SOMOS */

.sidebarQuienes {
    grid-area: sidebar;
}

.tituloQuienes {
    margin: 12px;
    text-align: center;
    color: #F774F5;
}

.bloqueQuienes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bloqueQuienes iframe {
    width: 600px;
    height: 500px;
}
.bloqueQuienes p {
    width: 500px;
}




.bloqueQuienesDos {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.imagenQuienes {
    width: 600px;
    height: 500px;
    transition: all 1s;
}

.imagenQuienes:hover{
    filter: saturate(130%);
    transform: scale(1.01);
}

@media(max-width:1200px) {
    .bloqueQuienes {
        display: flex;
        flex-direction: column;
    }
    .bloqueQuienes p {
        margin-top: 20px;
    }
    .bloqueQuienesDos {
        display: flex;
        flex-direction: column-reverse;
    }
    .listaBloque {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media(max-width:680px){
    .bloqueQuienes iframe {
        width: 400px;
        height: 300px;
    }

    .imagenQuienes {
        width: 400px;
        height: 300px;
    }
}

@media(max-width:526px) {
    .bloqueQuienes iframe {
        width: 300px;
        height: 200px;
    }

    .bloqueQuienes p {
        width: 250px;
    }

    .imagenQuienes {
        width: 300px;
        height: 200px;
    }
    .listaBloque {
        width: 250px;
    }
}

/* Pagina Preguntas Frecuentes */

.sidebarPreguntas {
    grid-area: sidebar;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.tituloPreguntas {
    margin: 12px;
    text-align: center;
    color: #F774F5;
}
.listasPreguntas {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.listaUno {
    margin: 40px;

}

.listaDos {
    margin: 40px;

}.listaTres {
    margin: 40px;

}.listaCuatro {
    margin: 40px;

}

.listaCinco {
    margin: 40px;
}

@media(max-width:1010px) {
    .sidebarPreguntas {
        display: flex;
        flex-direction: column;
    }
    .tituloForm {
        margin-bottom: 20px;
    }

}


.formulario {
    width: 700px;
   
    background-color: #595959;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area {
    padding: 8px;
    border: solid 1px;
    outline: none;
    width: 400px;
}

.textoArea {
    color: white;
}

.btn {
    margin: 10px;
    width: 80px;
}

@media(max-width:760px) {
    .formulario {
        width: 500px;
    }
}

@media(max-width:518px) {
    .formulario {
        width: 350px;
    }
    .area {
        width: 250px;
    }
}

.body {
    background: linear-gradient(to right, #F0BDFA, white, white, white, white, white, white, white, white , #F0BDFA)
}